body {
    font-family: "SF Pro Display";
    font-size: 1rem;
    background-color: #07041a;
}

.body {
    display: grid;
    padding: 4rem;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    background-color: white;
    border-radius: 20px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

img {
    width: 20px;
}

h1 {
    white-space: nowrap;
    font-size: 4rem;
    width: 100%;
    margin: 0;
}

h2 {
    font-weight: bold;
}

.description {
    font-size: 0.7rem;
    color: #a7a7a7;
}

ul {
    list-style-type: disc;
    padding: 0;
    margin: 5px 0 5px 0;
}

ul {
    list-style-type: none;
}

.contact {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.head {
    grid-row: 1;
    grid-column: 1 / 21;
}

p {
    margin: 0;
}

.main-data {
    grid-row: 2;
    grid-column: 1/11;
}

.secondary-data {
    grid-row: 2;
    grid-column: 12/21;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-top: 15px;
}

.contact-list img {
    width: 15px;
    opacity: 0.5;
    background-color: #4a44723b;
    padding: 5px;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.haicon {
    background-color: #00000018;
    padding: 3px 3px 2px 3px;
    border-radius: 100%;
    margin-right: 5px;
}

.portfolio-list {
    list-style-type: none;
    background-color: #204ECF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 25px 10px;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-top: 45px;
    color: white;
}

.portfolio-item {
    margin-left: 30px;
    font-size: 0.87rem;
}

.portfolio-item a {
    text-decoration: none;
    color: white;
}

.subtitle {
    font-size: 1.9rem;
    margin: 35px 0 20px 0;
}

.element {
    flex-grow: 1;
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.not-margin .element {
    margin: 0;
}

.not-margin .subelement {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0 9px 0 0;
}

.subelement {
    color: #505050;
    font-size: 0.8rem;
    margin-left: 1.3rem;
    margin-top: 5px;
    list-style-type: disc;
}

.subelement-title {
    color: #204ECF;
}

.box-list .subelement-title {
    font-weight: bolder;
}

.sublist {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.box-element {
    background-color: #0059ff1c;
    padding: 6px 8px;
    border-radius: 8px;
    margin: 2px;
}
